*.o
*.hi
*~
dist/
cabal-dev/
.hsenv
TAGS
tags
*.tag
cabal.sandbox.config
.cabal-sandbox

*.log

static/js/.settings/.jsdtscope

static/js/.settings/org.eclipse.wst.jsdt.ui.superType.container

static/js/.settings/org.eclipse.wst.jsdt.ui.superType.name

static/js/.project

job
